importFrom("methods","setRefClass")
importFrom("methods", "new")
importFrom("methods", "is")
importFrom("utils", "read.csv")
importFrom("graphics", "lines", "plot")
importFrom("reticulate", "import", "py_install","py_module_available")
importFrom("stats", "quantile","runif","cor","sd","rnorm", "var")
importFrom("data.table", "data.table")
importFrom("data.table", "setkey")
importFrom("data.table", ":=")
export(AngularDistance)
export(Chebyshev_distance)
export(CrossSampleEntropy)
export(DynamicBeta)
export(GetTradeDetails)
export(InformationAdjustedBeta)
export(InformationAdjustedCorr)
export(NormXASampEn)
export(ParseTrades)
export(SampleEntropy)
export(VariationOfInformation)
export(Bond)
export(BondFuture)
export(CDOTranche)
export(CSA)
export(Collateral)
export(CommSwap)
export(Commodity)
export(CommodityForward)
export(CDX)
export(CDS)
export(Curve)
export(Equity)
export(EquityIndexFuture)
export(EquityOptionIndex)
export(EquityOptionSingle)
export(FxSwap)
export(FxForward)
export(HashTable)
export(IRDFuture)
export(IRDSwap)
export(IRDSwapVol)
export(IRDSwaption)
export(OtherExposure)
export(SelectDerivatives)
export(capped_fibonacci_seq)
export(roulette_pl_calculator_labouchere)
export(roulette_pl_calculator_dalembert)
export(roulette_pl_calculator_fibonacci)
export(roulette_pl_calculator_martingale)
export(roulette_pl_calculator_specific_number)
export(martingale_strategy_repetitions)
export(Total_Carbon_Emissions)
export(Carbon_Footprint)
export(Carbon_Intensity)
export(Weighted_Average_Carbon_Intensity)