export(Collateral)
export(ParseTrades)
export(Bond)
export(BondFuture)
export(CDOTranche)
export(CSA)
export(CommSwap)
export(Commodity)
export(CommodityForward)
export(CreditIndex)
export(CreditSingle)
export(Curve)
export(Equity)
export(EquityIndexFuture)
export(FXSwap)
export(HashTable)
export(IRDSwap)
export(IRDSwapVol)
export(GetTradeDetails)
export(IRDSwaption)
export(EquityOption)
importFrom("methods","setRefClass")
importFrom("methods", "new")
importFrom("methods", "is")
importFrom("utils", "read.csv")
