export(AngularDistance)
export(Chebyshev_distance)
export(CrossSampleEntropy)
export(DynamicBeta)
export(GetTradeDetails)
export(InformationAdjustedBeta)
export(InformationAdjustedCorr)
export(NormXASampEn)
export(ParseTrades)
export(SampleEntropy)
export(VariationOfInformation)
export(Bond)
export(BondFuture)
export(CDOTranche)
export(CSA)
export(Collateral)
export(CommSwap)
export(Commodity)
export(CommodityForward)
export(CreditIndex)
export(CreditSingle)
export(Curve)
export(Equity)
export(EquityIndexFuture)
export(EquityOption)
export(FXSwap)
export(HashTable)
export(IRDFuture)
export(IRDSwap)
export(IRDSwapVol)
export(IRDSwaption)
importFrom("methods","setRefClass")
importFrom("methods", "new")
importFrom("methods", "is")
importFrom("utils", "read.csv")
importFrom("graphics", "lines", "plot")
importFrom("reticulate", "import", "py_install","py_module_available")
importFrom("stats","cor")
importFrom("stats","sd")
importFrom("stats","rnorm")
importFrom("stats", "var")
